/****************/
/* General CSS  */
/****************/
:root {
    --color-profile: srgb;
    --color-mode: light;
    --color-text: #ffffff;
    --color-background: rgba(0, 0, 0, 0.8);
    --text-background: rgba(0, 0, 0, 0.8);
    --myshadow: .1rem .1rem .1rem rgba(255, 255, 255, 0.76);

    --background1: linear-gradient( var(--color1), #000000);
    --background2: linear-gradient( var(--color2), #000000);
    --background3: linear-gradient( var(--color3), #000000);
    --background4: linear-gradient( var(--color4), #000000);
    --background5: linear-gradient( var(--color5), #000000);
    --background6: linear-gradient( var(--color6), #000000);

    --color1: #7CCCE5;;
    --color2: #B576AD;
    --color3: #E04644;
    --color4: #B7D968;
    --color5: #FDE47F;
    --color6: #F9A553;
}

html {
    scroll-behavior: smooth;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(1rem);
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.fade-in-section.active {
    opacity: 1;
    transform: translateY(0);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    padding: 0;
    /*background-color: #3f3f3f;*/
    /*text-align: center;*/
    line-height: 1.3; /* Adjust line height for better readability */
    text-align: center;
}

h1 {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    /*text-shadow: var(--myshadow);*/
    margin: 1rem 3%;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 1rem 3%;
    font-size: 1.5rem;
    /*text-shadow: 2px 2px 2px #aaa;*/
    text-align: center;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 1rem 3%;
    font-size: 1.2rem;
    text-align: center;
    /*!**!text-shadow: 2px 2px 2px #aaa;*/
}

.container-fluid-custom {
    padding: 0;
    /*border-radius: 1rem;*/
    /*background-color: var(--color-background);*/
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    align-items: center;
}

.custom-container-box {
    padding: 0;
    /*border-radius: 1rem;*/
    background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.4));
    height: 100%;
    width: 103%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    align-items: center;

}

.title-box {
    max-width: 60vw;
    min-height: 40vh;
    background-color: var(--text-background);
    /*box-shadow: var(--myshadow);*/
    /*border-radius: 1rem;*/
    /*border: .1rem solid #ffffff;*/
    padding: 20px;
    /*margin: 0 auto;*/
    resize: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



.vis-container {
    /*border: 1px solid #000000;*/
    padding: 1px;
    /*box-shadow: var(--myshadow);*/
    /*background-color: var(--text-background);*/
    border-radius: 1rem;
    width: calc(100% - 30px);
    margin-bottom: 1px; /* Spacing between visualizations */
    overflow: hidden; /* Prevents content from overflowing */
    box-sizing: border-box;
}

/* Targets unordered lists within the commentary columns */
.row.text-center .col-md-4 ul {
    text-align: left; /* Aligns the text to the left */
}

/* Style for the list items */
.row.text-center .col-md-4 ul li {
    list-style-type: disc; /* Adds bullet points */
    margin-left: .5rem;
    margin-right: .5rem;
}


.engaging-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6; /* Adjust line height for better readability */
    text-align: justify; /* This makes the text edges sharp and aligned */
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
}

.text-left-class {
    text-align: left; /* Aligns text to the left */
}

.container-fluid.d-flex.flex-column {
    height: 100vh; /* This should already be there, just ensure it's correct */
}

.row.mt-auto {
    margin-top: auto; /* This pushes the row to the bottom */
}

.dot-navigation {
    position: fixed;
    right: 18px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.dot-navigation .dot {
    display: block;
    height: 10px; /* Dot size */
    width: 10px; /* Dot size */
    background-color: var(--color-background);
    border-radius: 50%;
    margin-bottom: 10px; /* Space between dots */
    transition: background-color 0.3s;
}

.dot-navigation .dot.active,
.dot-navigation .dot:hover,
.dot-navigation .dot:focus {
    background-color: var(--color-text);
}

.scroll-container {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    height: 100vh; /* Adjust based on your layout */
}

.scroll-section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.scroll-section .container-fluid {
    height: 100%;
    width: 100%;
}

.source {
    font-size: 12px;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/****************/
/*Page  Settings*/
/****************/

#introduction {
    background-image: url(../img/Downtown_Ottawa_2022.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#introduction h1 {
    color: var(--color3);
    font-size: 3.5rem;
}

#macro1 {
    background-image: url(../img/1.jpeg);
    /*background: linear-gradient( #000000,var(--color4)) fixed;*/
    background-size: cover;
    background-attachment: fixed;
}

#macro1 h1 {
    color: var(--color4);
}

#macro2 {
    /*background: linear-gradient( #000000,var(--color6)) fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/3.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#macro2 h1 {
    color: var(--color6);
}

#macro3 {
    background-image: url(../img/1.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#macro3 h1 {
    color: var(--color1);
}

#vectom {
    /*background: linear-gradient( #000000,var(--color2)) fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/6.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#vectom h1 {
    color: var(--color2);
}

#sectors {
    /*background: linear-gradient( #000000,var(--color5)) fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/11.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#sectors h1 {
    color: var(--color5);
}


#performance1 {
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#performance1 h1 {
    color: var(--color3);
}

#performance2 {
    /*background: linear-gradient( #000000,var(--color4)) fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/7.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#performance2 h1 {
    color: var(--color4);
}

#performance3 {
    /*background: linear-gradient( #000000,var(--color6)) fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/9.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

#performance3 h1 {
    color: var(--color6);
}

#performance4 {
    background-image: url(../img/5.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#performance4 h1 {
    color: var(--color1);
}

#industrial1 {
    /*background: linear-gradient( #000000,var(--color2)) fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/12.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#industrial1 h1 {
    color: var(--color2);
}

#recommendation {
    background-image: url(../img/Downtown_Ottawa_2022.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#recommendation h1 {
    color: var(--color1);
}

#acknowledgments {
    /*background: linear-gradient( #000000,var(--color5)) fixed;*/
    /*background-size: cover;*/
    background-image: url(../img/8.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#acknowledgments h1 {
    color: var(--color5);
}

/*****************/
/* Macro Section */
/*****************/

/* Flex container for commentary columns */
#macro1 .macro-categories {
    display: flex;
    justify-content: space-around; /* Space columns evenly */
    align-items: flex-start;
    margin: 20px 0;
}

/* Style for each column */
#macro1 .category {
    flex: 1; /* Each column takes equal width */
    margin: 0 10px;
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 1rem;
}

#macro1 .category h2 {
    background-color: var(--color1);
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: -20px -20px 20px;
    padding: 10px 0;
    border-radius: 1rem 1rem 0 0;
}

#macro1 .category.macro2 h2 {
    background-color: var(--color2);

}

#macro1 .category.macro3 h2 {
    background-color: var(--color3);
}


/* List styling within each column */
#macro1 .category ul {
    list-style-type: square;
    padding-left: 20px;
    margin: 0;
}

#macro1 .category ul li {
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.9em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .investment-categories {
        flex-direction: column;
    }

    .category {
        margin-bottom: 20px;
    }
}

#macro_vis {
    height: 200px;
    width: 100vh;
}

#macro_vis2 {
    height: 200px;
    width: 100vh;
}

#consumer_vis {
    height: 48vh;
    width: 95vh;
}

#unemployment_vis {
    height: 20vh;
    fill: var(--color6);
    width: 45vh;
}

#mortgage_vis {
    height: 20vh;
    fill: var(--color6);
    width: 45vh;
}

/****************/
/*  Perf   Viz  */
/****************/

/*.!*Bubble & Bar-lollipop Tooltip*!*/
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px Arial;
    background: var(--color-background);
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

h4 {
    color: white;
    font: 14px "arial";
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

h5 {
    font: 10px "arial";
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.tooltip h4, .tooltip h5 {
    margin: 0;
    padding: 0;
}

.legend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
}

.legend rect {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    opacity: 0.7;
}


.circle-label {
    opacity: 1;
}

th {
    color: white;
    font: 12px "arial";
}


.axis {
    font-size: 11px;
    font-weight: bold;
}

.axis path,
.axis line,
.domain {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
}

#chart-area text {
    color: var(--color-text);
    font-size: 12px;
    font-weight: bold;
}

#bubble-area text {
    font-size: 12px;
    font-weight: bold;
}

#table-box {
    opacity: 0.9;
    text-align: start;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

th {
    color: white;
    font-size: 14px;
    text-align: end;
    white-space: normal;
    word-break: break-word;
    padding: 0.7vh;
}

td {
    text-align: end;
    font-size: 15px;
}

.table-highlight th {
    font-size: larger;
    font-weight: bold;
    background-color: #007bff;
    color: white;
}

.table.table-highlight tr {
    border: black; /* Removes all borders from rows and cells */
}

#table-container {
    position: relative; /* Container for the table and the commentary box */
}

#commentary-box1, #commentary-box2, #commentary-box3, #commentary-box4 {
    display: none; /* Initially hidden */
    background-color: wheat;
    border-radius: 20px; /* Rounded corners for bubble effect */
    padding: 15px; /* Padding inside the bubble */
    margin-top: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Subtle shadow for depth */
    width: auto; /* Auto width based on content */
    max-width: 100%; /* Maximum width */
    text-align: center; /* Center align text */
    font-size: 14px; /* Font size */
    color: #333; /* Text color */
    /* Position the box */
    position: absolute;
    /*right: 20%;*/
    left: 20%;
    transform: translateX(0%);
}

/* Arrow at the top of the bubble */
#commentary-box1:after, #commentary-box2:after, #commentary-box3:after, #commentary-box4:after {
    content: "";
    position: absolute;
    bottom: 100%; /* At the bottom of the bubble */
    left: 85%; /* Centered horizontally */
    margin-left: -10px; /* Half the width of the arrow */
    border-width: 15px; /* Size of the arrow */
    border-style: solid;
    border-color: transparent transparent wheat transparent; /* Arrow color */
}

/* Optional: Add custom styling for the text */
#commentary-box1 p, #commentary-box2 p, #commentary-box3 p, #commentary-box4 p {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    line-height: 1.5; /* Improves line spacing */
}

/*Buttons and Others*/

/*Play, Forward, Back buttons*/
.btn, .btn1, .btn2, .btn3 {
    padding: 5px 2px;
    /*font-weight: bold;*/
    /*margin-top: 1vh;*/
    margin-bottom: 2vh;
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-text {
    margin-top: .5vh;
    margin-top: .5vh;
}


#sortSelection, #dataSelection, #metricSelect, #lollipop-heading  {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#sortSelection:hover, #dataSelection:hover, #metricSelect:hover {
    background-color: rgba(0, 0, 0, 1);
}

.source {
    font-size: 12px;
    color: purple;
}

/*Buttons*/
.mt-2 {
    color: purple;
    margin: 1vh;
    font-size: 11px;
}

/*Legend*/
.legend {
    font-size: 12px;
}

.legend rect {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    opacity: 0.7;
}

.axis-label {
    fill: rgb(216, 6, 33, 0.9);
    font-size: 12px;
    font-weight: bold;
}

/*#playPauseButton {*/
/*    font-size: 1rem; !* Adjust the font size as needed *!*/
/*    width: 50%;*/
/*    padding: 20px; !* Adjust the padding to make the button smaller or larger *!*/
/*    background-color: rgb(143, 245, 60, 0.95); !* Use any color you like *!*/
/*    border: none; !* Remove border if present *!*/
/*    border-radius: 1rem;*/
/*    color: white; !* Text color *!*/
/*    cursor: pointer; !* Change cursor to pointer when hovering over the button *!*/
/*    transition: background-color 0.3s; !* Smooth transition for hover effect *!*/
/*}*/

/*#playPauseButton:hover {*/
/*    background-color: rgb(216, 6, 33, 0.95); !* Slightly darker shade when hovered for a visual feedback *!*/
/*}*/

/****************/
/*  Sector Viz  */
/****************/

#population-legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--color-background);
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
}

#canada {
    margin: 20% 0 0 0;
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#content {
    position: sticky;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
}

.card {
    width: 80%;
    padding: 15px;
    justify-content: center;
}

.card-body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; /* Normal font weight - 700 for bold */
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    margin-right: 15%;
    margin-left: 15%;
}

#chart-container {
    margin: 20% 0 0 0;
    height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#brushDiv svg {
    width: 100%;
    height: 100%;
}

#timeline1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--color-background);
    margin: 0;
}

#timeline2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--color-background);
    margin: 0;
    width: 80%;
}

#timeline1 line,
#timeline1 path {
    stroke: var(--color-text); /* Sets the SVG line color */
}

#sectors-container,
#industrial-container {
    position: relative;
    max-height: 70vh;
    width: 100%;
    flex-grow: 1; /* This will allow the container to expand and take up available space */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#industrial1 .sector-icon {
    fill: var(--color2);
    margin: 20px;
    width: 150px;
    height: 150px;
    position: absolute;
    transition: fill 0.3s;
}

.sector-icon {
    fill: var(--color5);
    margin: 50px;
    width: 150px;
    height: 150px;
    position: absolute;
    transition: fill 0.3s;
}

#vacancy {
    top: 100px;
    left: 10px;
}

#rentGrowth {
    top: 100px;
    right: 10px;
}


#retail {
    top: 10px;
    left: 10px;
}

#office {
    top: 10px;
    right: 10px;
}

#industrial {
    bottom: 10px;
    left: 10px;
}

#multifamily {
    bottom: 10px;
    right: 10px;
}

#vacancy:hover, .vacancy-clicked {
    fill: var(--color3);
}

#rentGrowth:hover, .rentGrowth-clicked {
    fill: var(--color4);
}

#retail:hover, .retail-clicked {
    fill: var(--color3);
}

#office:hover, .office-clicked {
    fill: var(--color4);
}

#industrial:hover, .industrial-clicked {
    fill: var(--color1);
}

#multifamily:hover, .multifamily-clicked {
    fill: var(--color2);
}

.region-clicked {
    stroke: var(--color-text);
    stroke-width: 3;
}

#map {
    position: relative;
    height: 50vh;
    width: 90vh;
    border-radius: 1rem 1rem 0 0;
}

/* Ensure map and timeline containers are the same width */
.map-timeline-container {
    width: 90vh; /* Adjust this value to match the map's width */
    margin: 0 auto; /* This will center the containers if they are block-level */
}


/*****************/
/*Recommendations*/
/*****************/

.investment-categories {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.category {
    flex: 1;
    margin: 0 10px;
    background-color: var(--color-background);
    padding: 20px;
    border-radius: 1rem;
    /*box-shadow: var(--myshadow);*/
}

.category h2 {
    background-color: var(--color4);
    color: white;
    font-size: 1.5rem;
    font-family: Montserrat, sans-serif;
    text-align: center;
    margin: -20px -20px 20px;
    padding: 10px 0;
    border-radius: 1rem 1rem 0 0;
}

.category.hold h2 {
    background-color: var(--color5);
/
}

.category.sell h2 {
    background-color: var(--color3);
}

@media (max-width: 768px) {
    .investment-categories {
        flex-direction: column;
    }

    .category {
        margin-bottom: 20px;
    }
}

.category ul {
    list-style-type: square;
    padding-left: 20px;
    margin: 0;
}

.category li {
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.9em;
    line-height: 1.6;
}

.category strong {
    display: block;
    margin-bottom: 10px;
    color: var(--color-text);
    font-weight: bolder;
}
