#canada {
    margin: 30px auto;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
}

.datamaps-hoverover {
    position: absolute;
    z-index: 1000;
}

#timeline-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#visualization-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sector-icon {
    fill: #d21313;
    margin: 50px;
    width: 150px; /* Adjust as necessary */
    height: 150px; /* Adjust as necessary */
    position: absolute;
    /* Use top and left to position each icon appropriately */
}

#industrial {
    top: 10px;
    left: 10px;
}

#office {
    top: 10px;
    right: 10px;
}

#multi {
    bottom: 10px;
    left: 10px;
}

#retail {
    bottom: 10px;
    right: 10px;
}

/*#canada-map {*/
/*    !* Position and size your map *!*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*}*/
